<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.likq.base.dao.SystemFunctionDAO">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cc.likq.base.domain.entity.SystemFunctionDO">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="level" property="level" />
		<result column="function_url" property="functionUrl" />
		<result column="route_url" property="routeUrl" />
		<result column="icon" property="icon" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="gmt_create" property="gmtCreate" />
	</resultMap>

</mapper>
