<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isxxc.dao.UserShopProfilImgDAO">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.isxxc.domain.entity.UserShopProfilImgDO">
		<id column="id" property="id" />
		<result column="shop_profil_id" property="shopProfilId" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="sort" property="sort" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="gmt_create" property="gmtCreate" />
	</resultMap>

	<select id="selectByShopProfilId" resultMap="BaseResultMap">
		SELECT
			id,shop_profil_id,type,name,description,sort,gmt_modified,gmt_create
		FROM
			user_shop_profil_img
		WHERE
			shop_profil_id = #{shopProfilId}
		ORDER BY sort ASC
	</select>
</mapper>
