<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isxxc.dao.ProductSpuDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.isxxc.domain.entity.ProductSpuDO">
        <id column="id" property="id"/>
        <result column="store_id" property="storeId"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="name"/>
        <result column="brand_id" property="brandId"/>
        <result column="title" property="title"/>
        <result column="subtitle" property="subtitle"/>
        <result column="show_price" property="showPrice"/>
        <result column="freight_template_id" property="freightTemplateId"/>
        <result column="is_shelves" property="isShelves"/>
        <result column="audit_state" property="auditState"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>

    <resultMap id="DtoBaseResultMap" type="com.isxxc.domain.dto.ProductInfoDTO">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer"/>
            <arg column="store_id" javaType="java.lang.Integer"/>
            <arg column="category_id" javaType="java.lang.Integer"/>
            <arg column="name" javaType="java.lang.String"/>
            <arg column="brand_id" javaType="java.lang.Integer"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="subtitle" javaType="java.lang.String"/>
            <arg column="show_price" javaType="java.lang.Long"/>
            <arg column="freight_template_id" javaType="java.lang.Integer"/>
            <arg column="is_shelves" javaType="java.lang.Integer"/>
            <arg column="audit_state" javaType="java.lang.Integer"/>
            <arg column="is_deleted" javaType="java.lang.Integer"/>
            <arg column="gmt_modified" javaType="java.util.Date"/>
            <arg column="gmt_create" javaType="java.util.Date"/>
            <arg column="categoryName" javaType="java.lang.String"/>
            <arg column="brandName" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <select id="selectDTOById" resultMap="DtoBaseResultMap">
      SELECT
            p.id,p.store_id,p.category_id,p.`name`,p.brand_id,p.title,p.subtitle,p.freight_template_id, p.show_price,
            p.is_shelves,p.audit_state,p.is_deleted,p.gmt_modified,p.gmt_create,
            (SELECT b.`name` FROM `product_brand` AS b WHERE b.`id` = p.brand_id) AS brandName,
            (SELECT c.`name` FROM `product_category` AS c WHERE c.`id` = p.category_id) AS categoryName
      FROM product_spu AS p
      WHERE p.id = #{id}

    </select>

    <select id="selectDTOList" resultMap="DtoBaseResultMap">
      SELECT
            p.id,p.store_id,p.category_id,p.`name`,p.brand_id,p.title,p.subtitle,p.freight_template_id, p.show_price,
            p.is_shelves,p.audit_state,p.is_deleted,p.gmt_modified,p.gmt_create,
            (SELECT b.`name` FROM `product_brand` AS b WHERE b.`id` = p.brand_id) AS brandName,
            (SELECT c.`name` FROM `product_category` AS c WHERE c.`id` = p.category_id) AS categoryName
      FROM product_spu AS p
      WHERE  p.store_id = #{spu.storeId} AND p.is_deleted = #{spu.isDeleted} ORDER BY p.gmt_modified DESC
    </select>

    <select id="selectDOList" resultType="com.isxxc.domain.entity.ProductSpuDO">
        SELECT
        p.id,p.store_id,p.category_id,p.`name`,p.brand_id,p.title,p.subtitle,p.freight_template_id,p.show_price,
        p.is_shelves,p.audit_state,p.is_deleted,p.gmt_modified,p.gmt_create
        FROM product_spu AS p
        WHERE
        p.is_shelves = #{isShelves} AND p.is_deleted = #{isDeleted}
        <if test="search.categoryIdList != null ">
            AND p.category_id IN
            <foreach collection="search.categoryIdList" item="categoryId" open="(" separator=","
                     close=")">
                #{categoryId}
            </foreach>
        </if>

        <if test="search.storeIdList != null">
            AND p.store_id IN
            <foreach collection="search.storeIdList" item="storeId" open="(" separator=","
                     close=")">
                #{storeId}
            </foreach>
        </if>

        <if test="search.minPrice != null and search.maxPrice != null">
            AND p.show_price &gt;= #{search.minPrice} AND p.show_price &lt;= #{search.maxPrice}
        </if>

        <if test="search.keyword != null and search.keyword !=''">
            <bind name="pattern" value="'%' +search.keyword + '%'"/>
            AND p.title LIKE #{pattern}
        </if>

        ORDER BY p.gmt_modified DESC
    </select>

    <update id="updateShelves">
      UPDATE `product_spu` SET is_shelves =#{shelvesCode},gmt_modified = NOW() WHERE id =#{id} AND store_id =#{storeId}
    </update>
</mapper>
