<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isxxc.dao.ProductBrandCategoryRelationDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.isxxc.domain.entity.ProductBrandCategoryRelationDO">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="category_id" property="categoryId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="gmt_create" property="gmtCreate" />
    </resultMap>

</mapper>
